## Ignore everything by default
*

### Allow git configuration
!**/.gitignore

### Allow subdirectories
!desktop
!licenses
!android
!lib
!docs

### Allow workspace configuration
!mise.toml
!.editorconfig
!**/.markdownlint.yml

!lefthook.yml
!.lefthook
!.lefthook/*/
!.lefthook/**/*.sh

### Allow readme and licenses
!README.md
!LICENSE
!ThirdPartyLicenses.md

!licenses
!licenses/*.txt

### Allow AI rules
!.windsurfrules
