## Ignore everything by default
*

### Allow git configuration
!**/.gitignore

### Allow subdirectories
!desktop
!licenses
!android
!docs

### Allow workspace configuration
!mise.toml
!.editorconfig
!.markdownlint.json

### Allow readme and licenses
!README.md
!LICENSE
!ThirdPartyLicenses.md

!licenses
!licenses/*.txt
