### Ignore everything but allow folders
*
!*/

### Allow git configuration
!**/.gitignore

### Allow go modules & code
!**/*.go
!go.mod
!go.sum

### Allow mise configuration
!tasks.toml
!mise.toml

### Allow documentation
!README.md

### Allow licenses
LICENSE.md
!Inter Font License.txt



