### Exclude all by default
*

### Allow subprojects
!pairing
!auth

### Allow rust workspace
!**/Cargo.toml
!**/Cargo.lock
!**/*.rs

### Allow git configuration
!**/.gitignore

### Allow mise configuration
!mise.toml

### Allow documentation
!**/README.md
!**/LICENSE
