### Exclude all by default
*

### Allow subprojects
!cli
!gui

### Allow go workspace and modules
!**/go.mod 
!**/go.sum

### Allow git configuration
!**/.gitignore

### Allow mise configuration
!mise.toml
!tasks.toml
!.mise-tasks/
!.mise-tasks/**/
!.mise-tasks/**/*.sh

### Allow documentation
!README.md

### ALlow licenses
!LICENSE
!ThirdPartyLicenses.md

!licenses
!licenses/*.txt
